.modal-container {
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 800px;
    text-align: center;
}

.modal-title {
    font-size: 18px;
    color: #aaa;
    text-align: center;
    padding: 25px;
}

.video-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center; /* ✅ Centra todos los hijos */
}

.input-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.video-label {
    font-weight: bold;
    background: #ddd;
    padding: 8px;
    border-radius: 6px;
    width: 100%;
    text-align: center;
}

.video-input {
    width: 80%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.upload-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.upload-area {
    width: 150px;
    height: 80px;
    background: #d0e6ff;
    border: 2px dashed #0077dd;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background 0.2s;
}

.upload-video-icon {
    font-size: 40px;
    color: #0077dd;
}

.video-description {
    width: 90%;
    height: 50%;
    padding: 10px;
    background: white;
    border-radius: 6px;
    border: none;
    color: #000000;
}

.button-group {
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
}

.btn {
    padding: 8px 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.btn-success {
    background: #0077DD;
    color: white;
}

.btn-danger {
    background: #6c6c6c;
    color: white;
}
